/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    color: #4cc9f0;
    text-decoration: none;
    font-family: "Press Start 2P", system-ui;
}

nav ul {
    display: flex;
    list-style: none;
    
}

    nav ul li {
        margin-left: 30px;
    }

        nav ul li a {
            color: #ffffff;
            text-decoration: none;
            font-weight: 500;
            transition: color 0.3s;
            font-family: "Play", sans-serif;
            font-size: 24px;
        }

            nav ul li a:hover {
                color: #4cc9f0;
                font-family: "Play", sans-serif;
            }

.auth-buttons a {
    margin-left: 15px;
    padding: 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
}

.login-btn {
    color: #ffffff;
    border: 1px solid #4cc9f0;
}

.register-btn {
    background-color: #4cc9f0;
    color: #0f0f1a;
}

/* Основной контент */
.hero {
    text-align: center;
    padding: 180px 20px 100px;
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://via.placeholder.com/1920x1080') no-repeat center center;
    background-size: cover;
}

    .hero h1 {
        font-size: 48px;
        margin-bottom: 30px;
        color: #4cc9f0;
        font-family: "Press Start 2P", system-ui;
    }

    .hero p {
        font-size: 24px;
        margin-bottom: 40px;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        font-family: "Play", sans-serif;
    }

.reservation-btn {
    display: inline-block;
    padding: 15px 40px;
    background-color: #f72585;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 24px;
    transition: background-color 0.3s;
    font-family: "Play", sans-serif;
    margin-top: 70px;
}

    .reservation-btn:hover {
        background-color: #b5179e;
    }

/* Галерея */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: 25px;
    padding: 30px 5%;
    justify-content: center;
}

    .gallery img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-radius: 5px;
        transition: transform 0.3s;
    }

        .gallery img:hover {
            transform: scale(1.03);
        }

/* Подвал */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1a1a2e;
    margin-top: 50px;
}

.footer-logo {
    font-size: 24px;
    font-weight: bold;
    color: #4cc9f0;
    margin-bottom: 20px;
}
