@model GamingClub.ViewModels.UserVM

@{
	ViewData["Title"] = "Account";
}
<title>@ViewData["Title"]</title>
<head>
	<style>
		.header {
			height: auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 10px 20px;
			background-color: #333;
			color: white;
		}

		.profile {
			margin-top: 20px;
			display: flex;
			align-items: center;
			gap: 20px;
			border: 20px;
			border-color: black;
		}

		.profile img {
			height: 100px;
			width: 100px;
		}

		.stackContainer {
			border: 2px solid black;
			padding: 10px 20px;
		}
	</style>
</head>

<body>
	<div class="header">Ваш кабинет</div>
	<div class="profile">
		<img src="/Views/Resources/default_account_pic.jpg" alt="Логотип" />
		<div class="stackContainer">
			<p><strong>Имя:</strong> @Model.Name</p>
			<p><strong>Email:</strong> @Model.Email</p>
		</div>
	</div>
</body>
